body {
    position: relative; /* Penting untuk menempatkan pseudo-elemen */
    background-image: url("../image/background.png");
    background-size: cover;
    background-position: absolute;
    background-attachment: fixed;
    background-color: #efd7ae;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-attachment: inherit;
    filter: blur(2.5px); /* Sesuaikan nilai blur sesuai kebutuhan */
    z-index: -1; /* Pastikan pseudo-elemen berada di bawah konten */
}

.card-login {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 520px;
    width: 390px;
    margin: 60px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0, 0, 25);
}
.sign-in {
    color: #6b5048; /* Warna teks */
    font-size: 48px; /* Ukuran font */
    font-weight: 600;
}
.img-fluid {
    width: 128px;
    height: 123px;
}
.form-label,
.form-control {
    color: #8692a6; /* Warna label dan input */
    font-size: 16px; /* Ukuran font untuk label dan input */
    font-weight: 500;
}
.lupa-password {
    font-size: 16px; /* Ukuran font untuk label dan input */
    font-weight: 500;
}
.btn-login {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #6b5048;
}
.teks-login {
    font-size: 20px; /* Ukuran font untuk label dan input */
    font-weight: 500;
    color: #ffffff;
}
.btn-login-google {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    border: 2px solid #6b5048;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0, 0, 25);
}
.teks-login-google {
    font-size: 20px; /* Ukuran font untuk label dan input */
    font-weight: 500;
    color: #6b5048;
}

/* awal navbar */
.custom-toggler .navbar-toggler-icon {
    border: 10px solid #512c21;
    background-color: transparent;
}
.vioscake-logo {
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.3px;
    color: #31140b;
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
}
.bite-logo {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #31140b;
    position: absolute;

    bottom: 0px;
    translate: -2% 30%;
    overflow-wrap: break-word;
}
.nav-link {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    font-size: 20px;
    font-weight: 400;
    color: #512c21;
    text-decoration: underline;
}
